html, body {
    color: #333;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #fff;
    overscroll-behavior-y: none;
}
body {
    display: flex;
    flex-direction: column;
    height: 99vh;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
p {
    margin: 1em;
}
a:link, a:visited, a:hover a:active {
    text-decoration: none;
}
img {
    border: none;
}
.mt-10 {
	margin-top: 2.5rem !important;
}
.mt-20 {
	margin-top: 5rem !important;
}
.mt-25 {
	margin-top: 6.25rem !important;
}
.mt-30 {
	margin-top: 7.5rem !important;
}
.mt-40 {
	margin-top: 10rem !important;
}
.mt-50 {
	margin-top: 12.5rem !important;
}
.mt-60 {
	margin-top: 15rem !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
    background-color: #444;
    font-size: 12px;
    color: #fff;
}
header a:link, header a:hover, header a:visited, header a:active {
    color: #fff;
}
header a:hover {
    text-decoration: underline;
}
#menu-items {
    display: flex;
    align-items: center;
}
#menu-buttons {
	display: flex;
	vertical-align: middle;
}
#reset-button {
    margin-left: 16px;
}
#copy-button {
    margin-left: 16px;
}
#sync-button {
    margin-left: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 4px;
    margin-top: 0px;
}
#markdown-logo img {
    background-color: #fff;
    display: block;
    width: 50px;
    margin-right: 20px;
    border-radius: 6px;
}
#bloco-2 {
    display: flex;
    gap: 5px;
	align-items: center;
}
#bloco-2 #markdown {
    padding-right: 32px;
	text-align: center;
}
#bloco-2 #markdown img {
    background-color: #fff;
    display: block;
    width: 50px;
    border-radius: 6px;
}
#bloco-2 #markdown a {
    display: block;
}
#bloco-2 #github {
    padding-right: 32px;
	text-align: center;
}
#bloco-2 #github img {
    display: block;
    width: 30px;
}
#bloco-2 #github a {
    display: block;
}
footer {
    padding: 8px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#container {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
}
#editor-wrapper {
    height: 100%;
}
#editor {
    height: 100%;
}
#preview-wrapper {
    padding: 8px 16px 16px 16px;
}
.column {
    width: 50%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    vertical-align: top;
}
#preview.column {
    overflow-y: scroll;
    white-space: normal;
}
.split-container {
    display: flex;
    height: 100%;
    width: 100%;
}
.editor-pane, .preview-pane {
    height: 100%;
}
.split-divider {
    width: 5px;
    background: #ccc;
    cursor: col-resize;
    z-index: 1;
}
.split-divider.hover {
    background: #999;
}
.split-divider.active {
    background: #666;
}
/* Dark theme overrides */

[data-theme="dark"] html, [data-theme="dark"] body {
    background-color: #212830;
    color: #e6edf3;
}
[data-theme="dark"] header {
    background-color: #333;
    color: #e6edf3;
}
[data-theme="dark"] header a:link, [data-theme="dark"] header a:hover, [data-theme="dark"] header a:visited {
    color: #e6edf3;
}
[data-theme="dark"] #container {
    background-color: #212830;
    border-bottom: 1px solid #1f2d3a;
}
[data-theme="dark"] .split-divider {
    background: #30363d;
}
[data-theme="dark"] .split-divider.hover {
    background: #444c56;
}
[data-theme="dark"] .split-divider.active {
    background: #768390;
}
[data-theme="dark"] footer {
    background-color: #333;
}
/* Ocultar erros de fonte do Monaco Editor */

.codicon, .monaco-menu .codicon {
    font-family: inherit !important;
}
.monaco-menu .codicon:before {
    content: '' !important;
}
/* Codicon */
.codicon {
	font-family: 'Codicon' !important;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.codicon {
	font-size: 16px;
	width: 16px;
	height: 16px;
	line-height: 1;
	-epub-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}